* {
    color: white;
    text-align: center;
}

body {
    margin: 0;
}

.contener {
    display: flex;
    
}

.left {
    float: left;
    background-color: greenyellow;
    height: 200px;
    width: 30%;
}

.right {
    float: right;
    background-color: indianred;
    height: 200px;
    width: 30%;
}

.header {
    background-color: orangered;
}

.footer {
    background-color: indigo;
}

p {
    background-color: blue;
    margin: 0;
    height: 200px;
}


@media screen and (max-width: 992px) {
    .contener{
        height:  400px;
        align-content: stretch ;
    }
    .left, .center {
        flex-basis: 50%;
    }
    .right {   
        align-self: flex-end;
        justify-self: flex-start;
        position: absolute;
        width: 100%;
    }  
}

@media screen and (max-width: 768px) {
   .contener {
       flex-wrap: wrap;
       height: 600px;
   }
   .center {
       order: -1;
       flex-basis: auto;
   }
   .left {
       flex-basis: 100%;
   }
   .right {
       flex-basis: 100%;
       position: relative;
   }
}


